.right{
    float: right;
    position: absolute;
    right: 0;
}

md-toolbar{
    font-size: 16px;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    position: absolute;
    z-index: 1;
    height: 65px;
}

    md-toolbar .toolbar-button {
        font-size: 16px;
        font-weight: 400;
        padding: 0 22px;
    }

:host /deep/ .title-bar{
    height: 136px;
}

:host /deep/ h1{
    font-size: 30px;
    font-weight: 400;
    margin: 0;
}

:host /deep/ .title{
    padding-left: 60px;
    padding-top: 75px;
}

:host /deep/ .container{
    min-height: calc(100vh - 222px);
    width: 78%;
    padding-left: 12%;
    padding-top: 20px;
}

.footer{
    height: 90px;
}

.footer-title{
    padding-left: 73px;
    margin-top: -2px;
    position: absolute;
    font-weight: 400;
    font-size: 13px;
}

.docs-angular-logo{
    height: 28px;
    position: absolute;
    top: 2px;
}

.footer .docs-angular-logo{
    height: 54px;
    top: 18px;
    left: 28px;
}

.docs-github-logo{
    height: 24px;
    position: absolute;
    top: 4px;
}

.example-sidenav-fab-container {
    width: 100%;
    height: calc(100vh - 65px);
    top: 65px;
}

.example-sidenav-fab-container md-sidenav {
  width: 270px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.example-sidenav-fab-container md-sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.example-sidenav-fab-container md-sidenav li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 0;
    padding: 0;
    border-color: rgba(0,0,0,.06);
    color: rgba(0,0,0,.54);
}

.example-sidenav-fab-container md-sidenav li > a {
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 47px;
    text-decoration: none;
    transition: all .3s;
    padding: 0 16px;
    position: relative;
    color: rgba(0,0,0,.54);
}

.example-sidenav-fab-container md-sidenav li .active-link {
    font-weight: 600;
}
.example-sidenav-fab-container md-sidenav li > a:hover {
    background: #fafafa;
    color: #3f51b5;
}

.example-sidenav-fab-container md-sidenav h3 {
    border: none;
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 16px;
}

.example-sidenav-fab-container md-sidenav h3 {
    background: rgba(0,0,0,.32);
    color: hsla(0,0%,100%,.87);
}

.example-sidenav-fab-container .mat-sidenav-content,
.example-sidenav-fab-container md-sidenav {
  display: flex;
  overflow: visible;
}

.example-scrolling-content {
  overflow: auto;
  width: 100%;
}