<md-toolbar class="title-bar" color="primary">
  <h1 class="title">Second</h1>
</md-toolbar>
<div class="container" style="line-height: 26px;margin-top:20px;">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent orci enim, posuere eu malesuada consequat, vulputate eget nisl. Nam scelerisque fringilla porttitor. Etiam molestie augue at tempus vulputate.  Praesent est nunc, bibendum quis est nec, accumsan vulputate tellus. Aliquam erat volutpat. Integer sollicitudin, purus et fringilla ultrices, neque ipsum facilisis nunc, efficitur bibendum diam odio et ligula. Quisque auctor ornare accumsan. Proin vitae arcu vel turpis luctus luctus viverra in risus.
</div>