<md-toolbar class="title-bar" color="primary">
  <h1 class="title">Home</h1>    
</md-toolbar>
<div class="container">
  <md-tab-group style="line-height: 26px;">
    <md-tab label="TAB 1">
        <div style="padding-top: 50px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent orci enim, posuere eu malesuada consequat, vulputate eget nisl. Nam scelerisque fringilla porttitor. Etiam molestie augue at tempus vulputate.  Praesent est nunc, bibendum quis est nec, accumsan vulputate tellus. Aliquam erat volutpat. Integer sollicitudin, purus et fringilla ultrices, neque ipsum facilisis nunc, efficitur bibendum diam odio et ligula. Quisque auctor ornare accumsan. Proin vitae arcu vel turpis luctus luctus viverra in risus.
          <md-card class="example-card" style="margin-top: 20px;">
            <md-card-header>
              <div md-card-avatar class="example-header-image"></div>
              <md-card-title>Lorem ipsum</md-card-title>
              <md-card-subtitle>Praesent orci</md-card-subtitle>
            </md-card-header>
            <md-card-content>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent orci enim, posuere eu malesuada consequat, vulputate eget nisl. Nam scelerisque fringilla porttitor. Etiam molestie augue at tempus vulputate.
              </p>
            </md-card-content>
            <md-card-actions>
              <button md-button>LIKE</button>
              <button md-button>SHARE</button>
            </md-card-actions>
          </md-card>
        </div>
      </md-tab>
    <md-tab label="TAB 2">Content 2</md-tab>
  </md-tab-group>
</div>
